<!DOCTYPE html>
<html lang="pt-BR">

<head>
<meta charset="UTF-8" />
<title>Cadastro de Empresas</title>
<link rel="stylesheet" th:href="@{/css/cadastro-empresa.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

</head>

<body>

	<nav class="navbar">
		<div class="navbar-container">
			<span class="navbar-jobfinder">JobFinder - Cadastro de Empresa</span>
			<!-- Links de navegação -->
			<div class="navbar-links">
				<a href="#" class="nav-link-custom">Início</a>
				<div class="navbar-dropdown">
					<button class="dropdown-label">Empresas<i class="fa fa-caret-down"></i></button>
					<ul class="dropdown-menu">
						<li><a href="#" class="dropdown-item">Cadastro de Empresas</a></li>
						<li><a href="#" class="dropdown-item">Listagem de Empresas</a></li>
					</ul>
				</div>
				<div class="navbar-dropdown">
					<button class="dropdown-label">Vagas<i class="fa fa-caret-down"></i></button>
					<ul class="dropdown-menu">
						<li><a href="#" class="dropdown-item">Cadastro de Vagas</a></li>
						<li><a href="#" class="dropdown-item">Listagem de Vagas</a></li>
					</ul>
				</div>
				<div class="navbar-dropdown-responsive">
					<ul class="dropdown-menu-responsive">
						<li><a href="#" class="dropdown-item-responsive">Cadastro de Empresas</a></li>
						<li><a href="#" class="dropdown-item-responsive">Listagem de Empresas</a></li>
						<li><a href="#" class="dropdown-item-responsive">Cadastro de Vagas</a></li>
						<li><a href="#" class="dropdown-item-responsive">Listagem de Vagas</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	
	

		<div class="form-container" id="cadastro">
			<form
				th:action="${empresa.id == null} ? @{/empresas/salvar} : @{/empresas/editar}"
				th:object="${empresa}" method="POST">

				<div class="form-group col-md-6">
					<label th:text="#{usuario.name.label}" for="name"></label> 
					<input type="text" class="form-control" id="nome" placeholder=Nome
						autofocus="autofocus" th:field="*{name}"
						th:classappend="${#fields.hasErrors('name')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{name}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{usuario.email.label}" for="email"></label> 
					<input type="text" class="form-control" id="email" placeholder=E-mail
						autofocus="autofocus" th:field="*{email}"
						th:readonly="${empresa.id != null}"
						th:classappend="${#fields.hasErrors('email')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{email}"></span>
					</div>
				</div>
			
				<div class="form-group col-md-6">
					<label th:text="#{empresa.cnpj.label}" for="cnpj"></label> 
					<input type="text" class="form-control" id="cnpj" autofocus="autofocus"
						th:field="*{cnpj}" placeholder="__.___.___/____-__"
						th:readonly="${empresa.id != null}"
						data-mask="00.000.000/0000-00" data-mask-reverse="true"
						th:classappend="${#fields.hasErrors('cnpj')} ? is-invalid" />
						
					<div class="invalid-feedback">
						<span th:errors="*{cnpj}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{empresa.cidade.label}" for="cidade"></label> 
					<input type="text" class="form-control" id="cidade" placeholder=Cidade
						autofocus="autofocus" th:field="*{cidade}"
						th:classappend="${#fields.hasErrors('cidade')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{cidade}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{empresa.descricao.label}" for="descricao"></label> 
					<input type="text" class="form-control" id="descricao" placeholder=Descrição
						autofocus="autofocus" th:field="*{descricao}"
						th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" />
					
					<div class="invalid-feedback">
						<span th:errors="*{descricao}"></span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label th:text="#{usuario.password.label}" for="password"></label> 
					<input type="password" class="form-control" id="password"
						th:placeholder="#{usuario.password.label}" autofocus="autofocus"
						th:field="*{password}"
						th:readonly="${empresa.id != null}"
						th:classappend="${#fields.hasErrors('password')} ? is-invalid" />
						
					<div class="invalid-feedback">
						<span th:errors="*{password}"></span>
					</div>
				</div>

				<input type="hidden" name="role" value="ROLE_EMPRESA">
				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>

<script>
	document.querySelectorAll('.navbar-dropdown').forEach(function(dropdown) {
		dropdown.addEventListener('click', function() {
			this.classList.toggle('active'); 
		});
	});
</script>
</html>
