@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #081b29;
    font-family: "Poppins", sans-serif;   
}

.form-container {
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    background-color: transparent;

    border-radius: 23px;
    border: 0.5px solid #0ef;
    box-shadow: 0 0 25px #0ef;
}

form {
    margin: 0 auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

form .form-group {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-weight: bold;
    color: #fff
}

input.form-control {
    width: 100%; 
    padding: 10px; 
    border: none;
    border-bottom: 2px solid #0ef;
    outline: none;
    border-radius: 4px; 
    font-size: 16px;
    margin-bottom: 15px; 
    box-sizing: border-box;
    transition: 0.5s;

    background-color: transparent;
    color: #0ef
}

input.form-control:focus {
    color: #fff;
    outline: none; 
    border-top: 2px solid #06335f;
    border-left: 2px solid #06335f;
    border-right: 2px solid #06335f;
}

button.btn {
    display: block;
    width: 100%; 
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #0ef;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
}

button.btn:hover {
    background-color: #0ef;
    color: #081b29;
}

.invalid-feedback {
    color: #dc3545; 
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

input.is-invalid {
    border-color: #dc3545; 
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}


/* NAVBAR */
.navbar {
    height: 50px;
    background-color: #0ef; 
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    margin-bottom: 10vh;
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-jobfinder {
    margin-left: -17vw;
    font-size: 24px;
    font-weight: bold;
    color: #000; 
}

.navbar-links {
    margin-right: -13vw;
    display: flex;
    gap: 20px; 
}

.navbar-links a {
    margin-top: 0.25vh;
}

.nav-link-custom {
    font-size: 18px;
    color: #000; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link-custom:hover {
    color: #555;
}


/* DROPDOWN */
.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.navbar-dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-dropdown-responsive {
    display: none;
}

.dropdown-label {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

.dropdown-label:hover {
    color: #555;
}

.dropdown-menu {
    position: absolute;
    width: 8vw;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 4px;
    display: none;
    /* z-index: 10; */
}

.dropdown-item {
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #000; 
    color: #fff;

    transition: 0.5s;
}

@media screen and (max-width: 412px) {
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        width: 100%;
        font-family: "Poppins", sans-serif; 
    }
    .form-container {
        display: flex;
        width: 80%;
        height: 100%;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: auto;
        background-color: transparent;
    
        border-radius: 23px;
        border: 0.5px solid #0ef;
        box-shadow: 0 0 25px #0ef;
    }

    form {
        grid-template-columns: 1fr;
        width: 100%; 
        height: 100%;
        padding: 10px; 
    }

    .form-group {
        width: 100%; 
        margin-top: 15px;
    }

    .form-control {
        width: 100%; 
        font-size: 16px; 
    }

    label {
        font-size: 14px;
        margin-bottom: 5px; 
        display: block; 
    }

    button {
        width: 100%; 
        font-size: 16px; 
        margin-bottom: 20px;
    }

    .invalid-feedback {
        font-size: 12px; 
        color: red;
        margin-top: 5px;
    }
    
    .navbar {
        height: auto;
        padding: 0px 5px;
    }

    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-jobfinder {
        margin-left: 0;
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .navbar-links {
        flex-direction: row;
        padding-left: 22.5vw;
        margin-right: 0;
        width: 100%;
        margin-top: 10px;
    }

    .navbar-links a {
        padding-top: 1vh;
    }
    .navbar-dropdown {
        display: none;
    }

    .navbar-dropdown-responsive {
        display: block;
    }

    .dropdown-menu-responsive {
        margin-top: -1vh;
        margin-right: -10vw;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .dropdown-item-responsive {
        padding: 1px 20px;
        font-size: 16px;
        color: #000;
        text-decoration: none;
        display: block;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .dropdown-item:hover {
        background-color: #000; 
        color: #fff;
    
        transition: 0.5s;
    }
}